* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: $content-width;
    margin: 0 auto;
    @include media-laptop {
        max-width: $tablet-width;
    }
    @include media-tablet {
        max-width: $mobile-width;
    }
}

.main {
    margin-bottom: 103px;
    @include media-tablet {
        margin-bottom: 38px;
    }
}

.container-padding {
    padding: 0 248px;
    @include media-laptop {
        padding: 0 50px;
    }
}

h2 {
    font-size: 22px;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
    
}

.h2_title {
    text-align: center;
    margin-bottom: 35px;
    @include media-tablet {
        margin-bottom: 15px;
    }
}

h3 {
    font-size: 14px;
    color: #333333;
    font-weight: 700;
    font-family: "Montserrat";
}

p {
    font-size: 14px;
    color: #666666;
    font-weight: 300;
    font-family: "Roboto";
}