@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../assets/fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../assets/fonts/Montserrat-Regular.woff') format('woff'),
        url('../assets/fonts/Montserrat-Regular.otf') format("opentype"); 
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../assets/fonts/Motserrat-Bold.ttf') format('truetype'),
        url('../assets/fonts/Motserrat-Bold.woff2') format('woff2'),
        url('../assets/fonts/Montserrat-Bold.woff') format('woff'),
        url('../assets/fonts/Montserrat-Bold.otf') format("opentype");  
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto'), local('Roboto'),
        url('../assets/fonts/Roboto.ttf') format('truetype'),
        url('../assets/fonts/Roboto.woff2') format('woff2'),
        url('../assets/fonts/Roboto.woff') format('woff'),
        url('../assets/fonts/Roboto.otf') format("opentype");    
}

@import "./abstract/constants";
@import "./abstract/mixin";

@import "./base/base";

@import "./components/promo";
@import "./components/howItWorks";
@import "./components/partners";
@import "./components/ideas";
@import "./components/searchPartners";
@import "./components/footer";
