.footer {
    width: 100%;
    border-top: solid 4px $red;
    &__container {
        display: flex;
        padding: 35px 248px;
        position: relative;
        @include media-laptop {
            padding: 35px 40px;
        }
        @include media-tablet {
            padding: 14px;
            flex-direction: column;
            align-items: center;
        }
    }
    &__logo {
        font-size: 16px;
        letter-spacing: 1px;
        color: red;
        font-weight: 700;
        font-family: "Montserrat";
        text-transform: uppercase;
        margin-right: 113px;
        @include media-laptop {
            margin-right: 96px;
        }
        @include media-tablet {
            margin: 0 0 12px;
        }
    }
    &__ico {
        width: 112px;
        height: 55px;
        background-image: url(../assets/icon/footer_ico.png);
        background-repeat: no-repeat;
        background-position-y: 4px;
        position: absolute;
        right: 248px;
        @include media-laptop {
            right: 38px;
        }
        @include media-tablet {
            margin-top: 12px;
            position: static;
        }
        
    }
    &__company {
        display: flex;
        flex-direction: column;
        margin-right: 170px;
        @include media-laptop {
            margin-right: 102px;
        }
        @include media-tablet {
            margin: 0;
            align-items: center;
            width: 100%;
            margin-bottom: 9px;
        }
    }
    & h3{
        margin-bottom: 12px;
        @include media-tablet {
            margin: 0;
        }
    }
}

.company-nav {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-weight: 300;
    font-family: "Roboto";
    @include media-tablet {
        padding: 0 48px;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
}