.search-partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media-tablet {
        padding: 0 20px;
        align-items: normal;
    }
    &__text {
        font-size: 18px;
        color: #333333;
        font-weight: 300;
        font-family: "Roboto";
        margin-bottom: 35px;
        @include media-tablet {
            margin-bottom: 15px;
        }
    }
    
}

.form {
    display: flex;
    @include media-tablet {
        flex-direction: column;
    }
    &__input-email {
        width: 240px;
        height: 40px;
        border-radius: 4px;
        margin-right: 10px;
        padding: 12px;
        &::placeholder { 
            font-size: 14px;
            color: #999999;
            font-weight: 300;
            font-family: "Roboto";
        }
        @include media-tablet {
            width: 100%;
            margin-bottom: 12px;
        }
    }
    &__button {
        width: 160px;
        height: 40px;
        border-radius: 20px;
        background-color: $red;
        @include media-tablet {
            width: 100%;
        }
    }   
}
